.main{
    background-color: rgb(250, 238, 224);
    height: 100%;
}
.catalogo{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.load{
    margin-left: 45%;
    padding-top: 10%;
    height: 100vh;
}