.header{
    width: auto;
    height: auto;
    background-color: bisque;
    padding: 1%;
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 10%;
}
.estilo-navbar{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.texto{
    text-decoration: none;
    color: black;
}
.estilo-carrito{
    width: 15%;
}